@media  (min-device-width:320px) and (max-device-width:480px){

    body{
        margin: 0;
        padding: 0px;
        /* align-items: center; */
        /* justify-content: center; */
        /* background-color: blue; */
    }
    #navbar{
        top: 0;
    }
    #head{
        flex-direction: column;
        margin-left: -100px;
        
    
    }
    #head img{
    
        margin-bottom: -66px;
        padding: 0px;
        width: 100% !important;
        
    }
    #head .fill1{
        text-align: unset !important;
        margin-left: 0px;
        
    }
    .text {
        width: 250px;
    }
    .fill1  h2{
        font-family: 'Courier New', Courier, monospace;
    }

    #contant .h{
        width:280px;
    }
    #contant .box{
        width:250px !important;
    }
    /* #block .card{
        margin-left: 0% !important;
    } */
    #block .card .box{
        float: none !important;
        width: 309px !important;
        margin-bottom: 25px;
        margin-left: 18px;
        /* height: 432px; */
        flex-direction: column;
    }
    #contant2 .box{
        width: 100% !important;
        margin-left: -10px !important;
    }
    #contant3 {
        width: 100% !important;
        /* float: left; */
        flex-direction: column;
    }
    #contant4{
        height: 39vh !important;
        top: 8px;
        display: inline-block;
    }
    #contant3 .text{
        display: block;
        margin-left: -110px;
        text-align: center;
    }
    #contant5 .card{
        margin-left: 15% !important;
    }
    #contant5 .text{
        margin-top: 15px;
    }
    #contant5 img{
        width: 60% !important;
        margin-left: 30px;
    }
    /* #contact{
        height: 93vh; */
    }
    #contact .card{
        margin-left: 48px !important;
    height: 350px !important;
    }
    button{
        
        font-size: 14px !important;
        width: 135px !important;
        margin-left: -17px;
    }
    .form input{
        width: 119px !important;
        margin-left: -16px;
    }
    #foot {
        width: 87% !important;
    }
    
    h1{
        font-size: 20px !important;
    }
    h2{
        font-size: 25px !important;
    }
    p{
        font-size: 21px !important;
    }

}